/* Basics */
body {
	margin: 0 !important;
	padding: 0;
	background-color: #ffffff;
}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #333333;
}
td {
	padding: 0;
}

td .text {
	vertical-align: bottom;
}

img {
	border: 0;
}
div[style*="margin: 16px 0"] {
	margin: 0 !important;
}
.wrapper {
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.webkit {
	max-width: 600px;
	margin: 0 auto;
}

.full-width-image img {
	width: 100%;
	max-width: 600px;
	height: 600px;
}

.outer {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.inner {
	padding: 10px;
}
p {
	margin: 0;
	text-align: center;
}
a {
	color: #ee6a56;
	text-decoration: underline;
}
.h1 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 18px;
}
.h2 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
}

/* One column layout */
.one-column .contents {
	text-align: left;
}
.one-column p {
	font-size: 14px;
	margin-bottom: 10px;
	text-align: center;
}

/*Two column layout*/
.two-column {
	text-align: center;
	font-size: 0;
}

.two-column .column {
	width: 100%;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
}

.contents {
	width: 100%;
}

.two-column .contents {
	font-size: 14px;
	text-align: left;
}
.two-column img {
	width: 100%;
	max-width: 280px;
	height: auto;
}
.two-column .text {
	padding-top: 10px;
}

.logoWE {
	position: absolute;
	top: 150px;
	left: 100px;
	z-index: 2;
	width: 10%;
}

.text .p {
	color: white;
}
